body{
	height: 100% !important;
}
#container1{
	color: white;
  overflow-y: auto;
}
#container2{
	background: skyblue;
}
.evento{
	padding: 10px;
}
.alerta{
	background-color: rgb(255,199,54);
	border: 1px solid rgb(215,159,24);
}
.reclamo{
	background-color: rgb(234,91,91);
	border: 1px solid rgb(204,61,61);
}
.datoutil{
	background-color: rgb(104,211,104);
	border: 1px solid rgb(74,181,74);
}
.fecha{
	text-align: right;
}
.titulo{
	font-size: 26px;
}
.autor{
	text-align: right;
	font-weight: bold;
}
